<header>
  <vaki-challenge-ui-toolbar></vaki-challenge-ui-toolbar>
</header>

<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side"
    opened="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <div class="v-spacer"></div>
    <vaki-challenge-shopping-cart></vaki-challenge-shopping-cart>
    <div class="nav-button">
      <button mat-button>
        <mat-icon>explore</mat-icon>
        <p>Explorar</p>
      </button>
    </div>
    <div class="nav-button">
      <button mat-button>
        <mat-icon>edit</mat-icon>
        <p>Crear</p>
      </button>
    </div>
    <div class="nav-button">
      <button mat-button>
        <mat-icon>school</mat-icon>
        <p>Aprender</p>
      </button>
    </div>
  </mat-drawer>

  <section>
    <div class="content-header" *ngIf="currentVaki | async">
      <mat-tab-group>
        <mat-tab label="Resumen">&nbsp;</mat-tab>
        <mat-tab label="Recompensas">&nbsp;</mat-tab>
        <mat-tab label="Historia">&nbsp;</mat-tab>
        <mat-tab label="Progreso">&nbsp;</mat-tab>
        <mat-tab label="Vakers">&nbsp;</mat-tab>
      </mat-tab-group>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>

</mat-drawer-container>
