<header>
  <vaki-challenge-ui-toolbar></vaki-challenge-ui-toolbar>
</header>

<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    opened="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <div class="v-spacer"></div>
    <div class="nav-button">
      <button mat-button>
        <mat-icon>explore</mat-icon>
        <p>Explora</p>
      </button>
    </div>
    <div class="nav-button">
      <button mat-button>
        <mat-icon>edit</mat-icon>
        <p>Explora</p>
      </button>
    </div>
    <div class="nav-button">
      <button mat-button>
        <mat-icon>school</mat-icon>
        <p>Aprender</p>
      </button>
    </div>
  </mat-drawer>

  <section>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </section>

</mat-drawer-container>
