<div class="ui-toolbar-wrapper mat-elevation-z3">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="" class="toolbar-logo">
      <img alt="Logo Vaki" src="assets/images/logos/vaki-logo-white&green.svg">
    </a>
    <span class="example-spacer"></span>
    <form>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selectedCountryCurrency" name="food">
          <mat-option *ngFor="let country of countries" [value]="country.ISO4217">
            {{country.ISO4217}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" class="example-icon" aria-label="Example icon-button with share icon">
      INGRESAR
    </button>
    <img src="assets/images/icons/lola-icon.gif" alt="Ícono de lola - Vaki gif" class="lola-gif">
  </mat-toolbar>
</div>
